/* Animations */

@keyframes init-0 {
    from {width: 0%; opacity: 0}
    to {width: 100%; opacity: 1}
}

@keyframes init-1 { /* fadein */
    from {opacity: 0}
    to {opacity: 1; display: block}
}

@keyframes init-1_ {
    from {opacity:0}
    to {opacity: 1}
}

@keyframes delete-0 { /* fadeout */
    from {opacity: 1}
    to {opacity: 0; display: none}
}


/* animate class */

.init0 {
    animation: init-0 125ms;
}

.init1 {
    animation: init-1_ 2s;
}

/* Background */
.default-background-color {
    background-color: rgb(43, 42, 51, 1) !important;
    color: rgb(219, 215, 215);
}

.shadow-box {
    box-shadow: 5px;
    border: 1px solid rgb(83, 83, 83);
}

.padded {
    margin: 2px;
    padding: 5px;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    font-size: 24px;
}

.default-background-color-white {
    background-color: rgb(196, 248, 255);
    color:rgb(83, 83, 83);
}

.light_mode {
    border: 1px solid black;
    background-color: black;
}

.black_mode {
    color: white;
}

.greybox-outline {
    text-decoration: underline;
    text-underline-offset: 112%;
}

.header-text-smol {
    border-left: 4px solid rgb(32, 25, 134);
    text-decoration: solid;
    color: gainsboro;
    background-color: rgba(83, 83, 83, 0.507);
    width: 25%;
    padding: 4px;
    animation: init-0 500ms;
}

.header-text-med {
    border-left: 4px solid rgb(32, 25, 134);
    text-decoration: solid;
    color: gainsboro;
    background-color: rgba(83, 83, 83, 0.507);
    width: 50%;
    padding: 4px;
    animation: init-0 500ms;
}

.header-text-biig {
    border-left: 4px solid rgb(32, 25, 134);
    text-decoration: solid;
    color: gainsboro;
    background-color: rgba(83, 83, 83, 0.507);
    width: 75%;
    padding: 4px;
    animation: init-0 500ms;
}

.header-text-all {
    border-left: 4px solid rgb(32, 25, 134);
    text-decoration: solid;
    color: gainsboro;
    background-color: rgba(83, 83, 83, 0.507);
    padding: 4px;
    animation: init-0 500ms;
}

.bordered {
    border: 1px solid gray;
}

.sidebar-on-open {
    width: 25%;
    display: block;
}

@media (max-width: 768px) {
.sidebar-on-open {
    width: 40%;
    display: block;
}
}

.sidebar-close {
    width: 0%;
    display: none;
}

.socialmedia-box {
    background-color: rgba(0, 0, 0, 0.493);
    color:gainsboro;
    padding: 8px;
    width: fit-content;
}

.hidden {
    display: none;
}

.hiddenbox-0 {
    animation: delete-0 250ms;
    display: none;
}

.hiddenbox-1 {
    animation: init-1 250ms;
    display: block;
}